.one {
    background-color: #ffaebc;
    /* height: 100vh; */
}
.tour-item {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sideButt:hover {
    color: #AB2B37 !important;
}

.courseNode {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.courseNode:hover {
    cursor: pointer;
    background-color: black !important;
    color: white !important;
}
