@import url('https://fonts.googleapis.com/css2?family=Alata&family=Fredericka+the+Great&family=Nunito+Sans&family=Roboto&display=swap');

body {
    position: relative;
    min-height: 20vh;
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

 .ant-modal-body {
    padding-top: 0px!important;
 }

 .default-button{
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;

 }